# Created by .gitignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*



out
.idea
.gradle
*.iml
core/flight-booking-service/eureka-client.iml
eureka-service/eureka-service.iml
hystrix-client/hystrix-client.iml
support/hystrix-dashboard/support_hystrix-dashboard.iml
core/coupon-service/core_coupon-service.iml